/* Font faces */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* End of font faces */

/* root */

:root {
  --background: rgb(197, 197, 197);
  --background-1: rgb(48, 47, 47);
  --background-2: #d36565;
  --background-3: #a94c4c;
  --background-dark-red: #770000;
  --font: #b35252;
  --font-2: #a91616;
  --font-harga: rgb(77, 76, 76);
  --font-black: rgb(46, 46, 46);
  --font-secondary: rgb(67, 67, 67);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  color: var(--font-black);
}

body {
  background: var(--background);
}

/* navbar awal */

#navbar a {
  color: var(--font-black);
}

#navbar a:hover {
  color: var(--background-2);
}

#navbar i {
  font-size: 23px;
}

/* navbar akhir */

/* header awal */

#header {
  background: var(--background-3);
}

#header h2 {
  margin-top: 12%;
  margin-bottom: 7%;
}

/* header akhir */

/* produk awal */

#produk {
  margin-top: 5%;
  margin-bottom: 5%;
}

#produk img {
  width: 300px;
  border-radius: 10px;
  border: 7px solid var(--background-1);
  transition: 0.2s;
}

#produk img:hover {
  width: 310px;
}

#produk a {
  text-decoration: none;
}
#produk .name {
  font-size: 16px;
}

#produk .Harga {
  color: var(--font-harga);
}
/* produk akhir */

/* footer awal */

#footer {
  margin-top: 10px;
  background: var(--background-2);
}

#footer ul li a {
  color: var(--font-secondary);
}

/* footer akhir */

/* responsive awal */

@media screen and (max-width: 767px) {
  /* Font faces */
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
  /* End of font faces */

  /* root */

  :root {
    --background: rgb(197, 197, 197);
    --background-1: rgb(48, 47, 47);
    --background-2: #d36565;
    --background-3: #a94c4c;
    --background-dark-red: #770000;
    --font: #b35252;
    --font-2: #a91616;
    --font-harga: rgb(77, 76, 76);
    --font-black: rgb(46, 46, 46);
    --font-secondary: rgb(67, 67, 67);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  button {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;
    color: var(--font-black);
  }

  body {
    background: var(--background);
  }

  /* navbar awal */

  #navbar a {
    color: var(--font-black);
  }

  #navbar a:hover {
    color: var(--background-2);
  }

  #navbar i {
    font-size: 23px;
  }

  /* navbar akhir */

  /* header awal */

  #header {
    background: var(--background-3);
  }

  #header h2 {
    margin-top: 24%;
    margin-bottom: 7%;
  }

  /* header akhir */

  /* produk awal */

  #produk {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #produk img {
    width: 250px;
    border-radius: 10px;
    border: 7px solid var(--background-1);
    transition: 0.2s;
  }

  #produk img:hover {
    width: 270px;
  }

  #produk a {
    text-decoration: none;
  }
  #produk .name {
    font-size: 14px;
  }

  #produk .Harga {
    color: var(--font-harga);
  }
  /* produk akhir */

  /* footer awal */

  #footer {
    margin-top: 10px;
    background: var(--background-2);
  }

  #footer ul li a {
    color: var(--font-secondary);
  }

  /* footer akhir */
}

/* responsive akhir */
